@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  color: #151922;
}

model-viewer {
  width: 100vw;
  height: 100vh;
}
